.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  margin-bottom: 30px;

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutBottom p {
  text-align: center;
  width: 1200px;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 60px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}
